.hacking-datetime {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

ion-datetime {
  color: var(--ion-color-dark);
}

.months-years {
  margin-left: -30px;
}

ion-title {
  color: var(--ion-color-dark);
}

ion-content {
  --background: var(--ion-color-light);
}
