.hacking-datetime {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}

ion-datetime {
  --background: transparent;
  --background-rgb: var(--ion-color-dark-rgb);
  color: #3a3a3a;
}

.months-years {
  margin-left: -30px;
}
