<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Update your password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <p class="muted">
        La contraseña debe tener al menos seis caracteres e incluir una combinacion de numeros, letras y caracteres
        especiales (!$@%).
    </p>
    <ion-list class="form ion-margin-top" mode="md">
        <ion-item lines="none">
            <ion-label color="medium" position="floating">Current password</ion-label>
            <ion-input [type]="passwordType" [(ngModel)]="currentPassword"></ion-input>
            <ion-button slot="end" (click)="showPassword()" fill="clear" mode="ios" color="dark">
                <ion-icon name="eye" color="medium" [name]="passwordIcon" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item lines="none">
            <ion-label color="medium" position="floating">New password</ion-label>
            <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="resetPassword()">
        Change Password
    </ion-button>
</ion-content>