<ion-content>
    <ng-lottie class="confeti" [options]="{loop: false, autoplay: confetti, path: '/assets/animations/confeti.json'}">
    </ng-lottie>
    <div class="container ion-padding">
        <img src="assets/images/controller.png" alt="" width="150px">
        <h1>¡Clip publicado!</h1>
        <p class="ion-text-center ion-margin-horizontal">
            Si quieres atraer a más compradores, recibir mejores ofertas y vender tus artículos más rápido, ten
            en mente las siguientes prácticas:
        </p>
        <ion-row class="ion-margin-top">
            <ion-col size="1.5">
                <img src="assets/images/video-games.png" alt="">
            </ion-col>
            <ion-col class="info-text">
                <h6>Responde siempre y muestra una actitud profesional</h6>
                <p>Es primordial que respondas a los compradores tan pronto como puedas.
                </p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="1.5">
                <img src="assets/images/verified.png" alt="">
            </ion-col>
            <ion-col class="info-text">
                <h6>Marca el artículo como vendido</h6>
                <p>
                    Una vez que el comprador reciba tu artículo, márcalo como vendido para dejar de recibir ofertas.
                </p>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button expand="block" color="primary" routerLink="/">
            Regresar al inicio
        </ion-button>
    </ion-toolbar>
</ion-footer>