ion-content {
  --background: white;
}

ion-thumbnail {
  height: 100px;
  width: 75px;
  border-radius: 10px;
  --border-radius: 5px;
}

ion-label {
  font-weight: bold;
  font-size: 16px !important;
}
