<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
    <div class="title">
        <h2>Ingresa una contraseña</h2>
        <p>Indica el email de la cuenta quieres usar.</p>
    </div>

    <ion-list class="form ion-margin-top" mode="md">
        <ion-item>
            <ion-label color="medium" position="floating">Constraseña</ion-label>
            <ion-input [type]="passwordType" [(ngModel)]="password" (keyup.enter)="verifyInput.setFocus()" #passwordId>
            </ion-input>
            <ion-button slot="end" (click)="showPassword()" fill="clear" mode="ios">
                <ion-icon name="eye" [name]="passwordIcon" color="medium" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-item>
        <ion-item>
            <ion-label color="medium" position="floating">Verificar contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="verifyPassword" (keyup.enter)="createUser()" #verifydId></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar class="ion-text-center">
        <p class="muted">Si continuas, aceptas nuestra
            <ion-text color="primary">
                Politica de privacidad
            </ion-text> y nuestros
            <ion-text color="primary">
                Terminos de uso.
            </ion-text>
        </p>
        <ion-button expand="block" (click)="createUser()" [disabled]="!password">
            Siguiente
        </ion-button>
    </ion-toolbar>
</ion-footer>