<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
    <div class="title">
        <h2>Recuperar contraseña</h2>
        <p>Ingresa el correo electrónico asociado a tu cuenta y te enviaremos un correo con instrucciones para
            recuperar tu contraseña.</p>
    </div>

    <ion-list class="form ion-margin-top" mode="md">
        <ion-item>
            <ion-label color="medium" position="floating">Correo electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="email" (keyup.enter)="sendInstructions()" #emailId></ion-input>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar class="ion-text-center">
        <ion-button expand="block" (click)="sendInstructions()">
            Enviar instrucciones
        </ion-button>
    </ion-toolbar>
</ion-footer>