ion-slides {
  ion-slide {
    position: relative;
    height: fit-content;
    text-align: left;
  }
}

.logo {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 111;
  width: 30px;
  height: 30px;
}

.btn-search {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 111;
  width: 30px;
  height: 30px;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  ion-icon {
    font-size: 25px;
  }
}
