<ion-content>
    <img src="assets/images/logo.svg" class="logo" alt="">
    <ion-button expand="block" fill="clear" class="btn-search ion-no-margin">
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-slides (ionSlideWillChange)="slideChange(slides)" [options]="slideOptions" #slides>
        <ion-slide *ngFor="let clip of clips; let i = index">
            <div class="clip" (dblclick)="like(i, clip)">
                <video [src]="clip.video.url" height="100%" width="100%" muted loop id="video-{{i}}" [autoplay]="false"
                    (click)="changeStatusVideo(i)"></video>
                <div class="bottom-content">
                    <div class="container">
                        <div class="user" routerLink="/profile/{{clip.userKey}}">
                            <ion-avatar slot="start">
                                <img
                                    src="{{clip.user?.profilePicture ? clip.user?.profilePicture : 'assets/images/default-user.png'}}" />
                            </ion-avatar>
                            <ion-label>
                                <h2>@{{clip.user?.username}}</h2>
                                <p>{{clip.creationDate}}</p>
                            </ion-label>
                            <ion-button fill="solid" shape="round" color="light" slot="end">
                                Seguir
                            </ion-button>
                        </div>
                        <p class="clip-title wrap--1">{{clip.title}}</p>
                        <div class="d-flex">
                            <div class="game">
                                <ion-thumbnail>
                                    <img src="{{clip.game.art}}" />
                                </ion-thumbnail>
                                <ion-label>
                                    <h3>{{clip.game.name}}</h3>
                                    <p>Presiona para más</p>
                                </ion-label>
                            </div>
                            <div class="category">
                                <ion-thumbnail>
                                    <img [src]="clip.category.art" />
                                </ion-thumbnail>
                                <ion-label>
                                    <h3>{{clip.category.shortName}}</h3>
                                </ion-label>
                            </div>
                        </div>
                    </div>

                    <div class="buttons">
                        <div class="button" (click)="openMenu()">
                            <ion-icon name="ellipsis-horizontal"></ion-icon>
                        </div>
                        <div class="button" (click)="like(i, clip)">
                            <ng-lottie class="confeti" [options]="lottieConfig" *ngIf="clip.isLiked != undefined"
                                (animationCreated)="handleAnimation(clip, i, $event)">
                            </ng-lottie>
                            <p>{{clip.likes}}</p>
                        </div>
                        <div class="button" (click)="openComments(clip)"
                            [ngClass]="{'button-disabled': !clip.comments}">
                            <ion-icon class="icon-message"></ion-icon>
                            <p>50</p>
                        </div>
                        <div class="button">
                            <ion-icon name="arrow-redo-outline"></ion-icon>
                        </div>
                    </div>
                </div>
            </div>
            <ion-icon name="pause-outline" class="pause-indicator" *ngIf="!isPlaying"></ion-icon>
        </ion-slide>
    </ion-slides>
</ion-content>