.clip-container {
  ngx-dropzone {
    background: transparent;
    height: 225px;
    border-width: 2px;
    border-color: var(--ion-color-dark-tint);
    width: 150px;
    margin: auto;
    margin-right: 10px;
    padding: 0 10px;
    ion-icon {
      font-size: 25px;
      margin-bottom: 10px;
      color: var(--ion-color-medium);
    }
    ion-spinner {
      margin-bottom: 10px;
    }
    h6 {
      font-size: 13px;
    }
    p {
      margin-top: 10px;
      font-size: 10px;
      color: var(--ion-color-medium);
    }
  }
  video {
    object-fit: cover;
    border-radius: 6px;
    width: 150px;
    height: 225px;
    margin: auto;
    background: var(--ion-color-dark-tint);
    margin-right: 10px;
  }

  ion-button {
    width: 150px;
    --background: var(--ion-color-dark-tint);
    margin-top: 10px;
    font-size: 12px;
    display: block;
  }
}

.options {
  background: var(--ion-color-dark);
  ion-item {
    --padding-start: 0;
    margin-right: -10px;
    ion-icon {
      font-size: 18px;
    }
  }
}
