<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="dark" class="btn-close" (click)="modalController.dismiss()">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Upload clip</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="clipForm" novalidate>
        <ion-list class="form">
            <div class="d-flex ion-padding-bottom">
                <div class="clip-container">
                    <ngx-dropzone (change)="onSelectVideo($event)" [multiple]="false" [maxFileSize]="1073741824"
                        accept="video/mp4" *ngIf="!file">
                        <ngx-dropzone-label>
                            <div *ngIf="!uploadingClip">
                                <ion-icon class="icon-video"></ion-icon>
                                <h6 class="font-bold ion-margin-bottom">
                                    Select video to upload
                                </h6>
                                <p>720x1280 resolution or higher</p>
                                <p>Less than 1 GB</p>
                            </div>
                            <div *ngIf="uploadingClip">
                                <ion-spinner name="crescent"></ion-spinner>
                                <h6 class="font-bold">
                                    Uploading clip
                                </h6>
                            </div>
                        </ngx-dropzone-label>
                    </ngx-dropzone>
                    <video [src]="file?.url" height="100%" width="100%" *ngIf="file" autoplay muted loop #video></video>
                    <ion-button (click)="removeVideo()" class="ion-no-margin ion-no-padding" *ngIf="file?.url">
                        Borrar clip
                    </ion-button>
                </div>

                <ion-textarea slot="start" placeholder="Add caption" formControlName="title" rows="4">
                </ion-textarea>
            </div>

            <hr>

            <input type="file" id="my_file" (change)="onSelectVideo($event)" style="display: none;">

            <ion-list class="options">
                <ion-item class="ion-margin-vertical" detail="true" (click)="viewOptions()">
                    <ion-icon class="icon-lock" slot="start"></ion-icon>
                    <ion-label>Who can view this clip</ion-label>
                    <ion-label slot="end" color="medium" *ngIf="clipForm.controls.viewOption.value === 'all'">Public
                    </ion-label>
                    <ion-label slot="end" color="medium" *ngIf="clipForm.controls.viewOption.value === 'friends'">
                        Friends
                    </ion-label>
                    <ion-label slot="end" color="medium" *ngIf="clipForm.controls.viewOption.value === 'me'">Private
                    </ion-label>
                </ion-item>
                <ion-item class="ion-margin-bottom">
                    <ion-icon class="icon-comment" slot="start"></ion-icon>
                    <ion-label>Allow comments</ion-label>
                    <ion-toggle slot="end" name="apple" formControlName="comments" checked></ion-toggle>
                </ion-item>
                <ion-item class="ion-margin-bottom" detail="true">
                    <ion-icon class="icon-tag" slot="start"></ion-icon>
                    <ion-label>Tag gamers</ion-label>
                    <ion-label slot="end" color="medium">3 personas</ion-label>
                </ion-item>
                <ion-item class="ion-margin-bottom" detail="true" (click)="selectGame()">
                    <ion-icon class="icon-controller" slot="start"></ion-icon>
                    <ion-label>Select game</ion-label>
                    <ion-label slot="end" color="medium">{{game.name}}</ion-label>
                </ion-item>
                <ion-item class="ion-margin-bottom" detail="true" (click)="selectCategory()">
                    <ion-icon class="icon-category" slot="start"></ion-icon>
                    <ion-label>Add to a channel</ion-label>
                    <ion-label slot="end" color="medium">{{category.name}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-list>
    </form>
</ion-content>
<ion-footer>
    <ion-toolbar class="ion-text-center">
        <div class="d-flex">
            <ion-button class="w--100" expand="block" color="light" (click)="modalController.dismiss()">
                Discard
            </ion-button>
            <ion-button class="w--100" expand="block" (click)="addClip()" [disabled]="clipForm.invalid">
                <ion-icon name="arrow-up-outline" slot="start"></ion-icon>
                Post
            </ion-button>
        </div>
    </ion-toolbar>
</ion-footer>