ion-label {
  font-weight: 600;
  font-size: 10px;
  color: var(--ion-color-medium);
}

ion-icon {
  margin-bottom: 5px;
  font-size: 18px;
  color: var(--ion-color-medium);
}

.btn-add {
  background: #0166ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 8px;
  ion-icon {
    color: var(--ion-color-light);
    margin-bottom: 0;
    --ionicon-stroke-width: 50px;
  }
}

.tab-selected {
  ion-icon {
    color: var(--ion-color-light);
  }
  ion-label {
    color: var(--ion-color-light);
  }
}
