.category {
  --padding-start: 0;
  margin-bottom: 16px;
  ion-thumbnail {
    width: 100px;
    height: 130px;
    --border-radius: 6px;
  }
  h1 {
    font-weight: 900;
    font-size: 30px;
  }
  p {
    color: var(--ion-color-medium);
  }
}
