<ion-header class="light-header">
    <ion-toolbar>
        <ion-title>{{title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button color="dark" (click)="modalController.dismiss()">
                <ion-icon slot="icon-only" color="dark" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" scrollY="false">
    <ion-list class="form ion-no-padding" mode="md">
        <ion-item lines="none">
            <ion-label color="medium" position="floating">Enter username</ion-label>
            <ion-input [(ngModel)]="username" #usernameId></ion-input>
        </ion-item>
        <ion-button expand="block" mode="ios" (click)="modalController.dismiss(username)" [disabled]="!username">
            Siguiente
        </ion-button>
    </ion-list>
</ion-content>