ion-slides {
  ion-slide {
    position: relative;
    height: fit-content;
    text-align: left;
  }
}

ion-header {
  position: fixed;
  width: 100%;
  ion-toolbar {
    --background: transparent;
    ion-back-button {
      font-size: 15px !important;
    }
  }
}

.btn-search {
  z-index: 111;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  ion-icon {
    font-size: 25px !important;
  }
}
