ion-slides {
  border-radius: 0 0 16px 16px;
  ion-slide {
    position: relative;
    height: fit-content;
    text-align: left;
  }
}

ion-header {
  position: fixed;
  ion-toolbar {
    --background: transparent;
  }
}
