<ion-content scrollY="false">
    <ion-list>
        <ion-item lines="full">
            <ion-icon color="dark" slot="start" class="icon-share"></ion-icon>
            <ion-label color="dark">
                Compartir
            </ion-label>
        </ion-item>
        <ion-item lines="full">
            <ion-icon color="dark" slot="start" class="icon-report"></ion-icon>
            <ion-label color="dark">
                Denunciar
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-icon color="dark" slot="start" class="icon-block"></ion-icon>
            <ion-label color="dark">
                Bloquear
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>