<ion-header>
    <ion-toolbar>
        <div class="line-close"></div>
    </ion-toolbar>
</ion-header>
<ion-content scrollY="false">
    <ion-list>
        <ion-item (click)="addFavorite()" lines="full">
            <ion-icon slot="start" class="icon-bookmark"></ion-icon>
            <ion-label>
                Agregar a Favoritos
            </ion-label>
        </ion-item>
        <ion-item lines="full">
            <ion-icon slot="start" class="icon-report"></ion-icon>
            <ion-label>
                Denunciar
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-icon slot="start" class="icon-dislike"></ion-icon>
            <ion-label>
                No me interesa
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>