<ion-content scrollY="false">
    <ion-list>
        <ion-item (click)="addFavorite()" lines="full">
            <ion-icon color="dark" slot="start" class="icon-bookmark"></ion-icon>
            <ion-label color="dark">
                Agregar a Favoritos
            </ion-label>
        </ion-item>
        <ion-item lines="full">
            <ion-icon color="dark" slot="start" class="icon-report"></ion-icon>
            <ion-label color="dark">
                Denunciar
            </ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-icon color="dark" slot="start" class="icon-dislike"></ion-icon>
            <ion-label color="dark">
                No me interesa
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>