@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Lineto";
  src: url("assets/fonts/lineto-circular-book.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Lineto";
  src: url("assets/fonts/lineto-circular-bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Lineto";
  src: url("assets/fonts/lineto-circular-black.ttf");
  font-weight: 900;
}

* {
  font-family: "Lineto", sans-serif !important;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  --highlight-background: white;
  color: white;
}

// // // // // // // // // //
// IONIC
// // // // // // // // // //

ion-content {
  --background: var(--ion-color-dark);
}

ion-alert {
  h2 {
    color: white !important;
  }
  .alert-message {
    color: var(--ion-color-medium) !important;
  }
  button {
    border-top: 0.55px solid #353434 !important;
    :last-child {
      border: none !important;
    }
  }
  .alert-wrapper {
    border-radius: 6px !important;
    background: var(--ion-color-dark-tint) !important;
  }
}

ion-button {
  --border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
}

ion-avatar {
  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}

ion-header {
  ion-toolbar {
    --background: var(--ion-color-dark);
    --border-width: 0 !important;
    ion-back-button {
      --margin-start: 10px;
      font-size: 12px;
      ion-icon {
        color: red;
      }
    }
  }
}

ion-footer {
  ion-toolbar {
    --background: var(--ion-color-dark);
    --border-width: 0 !important;
  }
}

ion-searchbar {
  padding: 0 !important;
  width: 100% !important;
  --border-radius: 50px !important;
  height: 40px !important;
  .searchbar-input-container {
    height: 40px !important;
    border-radius: 50px !important;
    .searchbar-search-icon {
      width: 18px !important;
      padding-left: 10px;
      color: #b4bfc4 !important;
    }
    .searchbar-clear-button {
      margin-right: 5px;
      color: #b4bfc4;
    }
  }
  input {
    font-size: 14px !important;
    padding-inline-start: 50px !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: white;
}

ion-toast {
  font-weight: 500;
  color: black;
  --border-radius: 6px;
  --background: white;
  --padding-end: 32px !important;
  --margin-bottom: 16px;
  --box-shadow: 0 0 20px 0 rgb(76 87 125 / 15%);
  background: rgb(255 0 0 / 0%);
  &::part(message) {
    padding-right: 16px !important;
  }
  &::part(button) {
    font-size: 1.2em !important;
    padding-right: 0 !important;
  }
}

// // // // // // // // // //
// CLASSES
// // // // // // // // // //

.muted {
  color: var(--ion-color-medium);
}

.form {
  background: var(--ion-color-dark);
  ion-item {
    --background: var(--ion-color-dark-tint);
    border-radius: 6px;
    width: 100%;
    --border-width: 0 !important;
    --border-style: none !important;
    margin-bottom: 16px;
    ion-input {
      color: white;
    }
    ion-button {
      margin: 0;
      height: 100%;
      ion-icon {
        font-size: 20px;
      }
    }
  }
  .item-has-focus {
    ion-label {
      margin-top: 0 !important;
    }
  }
}

.title {
  margin-bottom: 20px;
  h3 {
    font-weight: 600;
    font-size: 18px;
  }
  ion-button {
    margin-left: auto;
    font-size: 18px;
    width: 18px;
    height: 18px;
  }
}

.post {
  border-bottom: 8px solid var(--ion-color-light);
  .content {
    padding: 16px;
    padding-top: 5px;
    ion-item {
      --padding-start: 0;
      margin-right: -10px;
      ion-thumbnail {
        width: 18px;
        height: 18px;
        --border-radius: 2px;
        margin: 0;
        margin-right: 10px;
      }
      ion-label {
        color: var(--ion-color-medium);
        font-size: 13px !important;
        margin: 0;
        padding: 0;
      }
    }
    p {
      font-size: 15px;
      font-weight: 600;
    }
  }
  .menu-bottom {
    border-top: 1px solid var(--ion-color-light);
    border-bottom: 1px solid var(--ion-color-light);
    display: flex;
    ion-button {
      width: 100%;
      font-size: 13px;
      color: #a2a8ae;
      margin: 0;
      height: 50px;
      ion-icon {
        margin-right: 10px;
        font-size: 20px;
      }
    }
    .dislike-btn {
      --padding-start: 0 !important;
      width: auto;
    }
  }
}

.wrap {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  &--1 {
    -webkit-line-clamp: 1;
  }
  &--2 {
    -webkit-line-clamp: 2;
  }
}

.font {
  &--bold {
    font-weight: 600;
  }
}

.d-flex {
  display: flex;
  gap: 10px;
}

.w {
  &--100 {
    width: 100%;
  }
}

.title {
  h2 {
    font-weight: bold;
    padding-bottom: 5px;
  }
  p {
    color: var(--ion-color-medium);
  }
}

// // // // // // // // // //
// ICONS
// // // // // // // // // //

ion-icon {
  &[class*="icon-"] {
    mask-size: contain;
    mask-repeat: no-repeat;
    background: currentColor;
  }
  //   &[class*="icon-add"] {
  //     mask-image: url(assets/icon/add.svg);
  //   }
}
