ion-header {
  ion-toolbar {
    padding: 8px 5px !important;
  }
}

.news-slider {
  margin: 16px -16px;
  margin-top: 0;
  ion-slide {
    width: 300px;
    height: 200px;

    img {
      width: 300px;
      height: 130px;
      object-fit: cover;
      transition: all 0.2s ease-out;
      border-radius: 6px;
    }
    .active-img {
      height: 180px;
    }
  }
}

.categories {
  padding-bottom: 32px;
  .games-slider {
    margin: 0 -16px;
    padding: 0 16px;
    ion-slide {
      width: 100px;
      text-align: left;
      .category {
        img {
          width: 100px;
          height: 100px;
          border-radius: 16px;
          object-fit: cover;
        }
        p {
          font-size: 14px;
          margin-top: 6px;
          font-weight: bold;
          text-align: center;
        }
      }
    }
  }
}

.top-users {
  padding-bottom: 32px;

  .users-slider {
    margin: 0 -16px;
    padding: 0 16px;
    ion-slide {
      width: auto;
      text-align: left;
      .user {
        ion-avatar {
          width: 70px;
          height: 70px;
          display: flex;
          margin: auto;
          position: relative;
          background: var(--ion-color-dark-shade);
          ion-badge {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            border-radius: 50px;
            background: white;
            color: var(--ion-color-dark);
            border: 3px solid var(--ion-color-dark);
            font-size: 10px;
            font-weight: bold;
          }
        }
        h6 {
          font-weight: 500;
          margin-top: 10px;
          font-size: 14px;
          text-align: center;
        }
      }
    }
  }
}

.games {
  .games-slider {
    margin: 0 -16px;
    padding: 0 16px;
    ion-slide {
      width: 125px;
      text-align: left;
      .game {
        img {
          width: 125px;
          height: 175px;
          border-radius: 6px;
          object-fit: cover;
        }
        p {
          font-size: 13px;
          font-weight: bold;
        }
      }
    }
  }
}
.color {
  &--1 {
    background: #f7d656 !important;
  }
  &--2 {
    background: #c6c6c6 !important;
  }
  &--3 {
    background: #f39e69 !important;
    color: white !important;
  }
}
